   <!-- <li class="{{if condition='in_array($Request.controller,[" Type"])'}}open{{/if}}">
                <a class="sidebar-sub-toggle">
                    <i class="ti-layout-grid2-alt"></i> 商品分类管理 <span class="sidebar-collapse-icon ti-angle-down"></span>
                </a>
                <ul>
                    <li><a href="{{:url('admin/type/create')}}"> 添加商品分类</a></li>
                    <li><a href="{{:url('admin/type/listing')}}">商品分类列表</a></li>
                </ul>
                </li>
                <li {{if condition="in_array($Request.controller,['Product'])" }}class="open" {{/if}}>
                <a class="sidebar-sub-toggle"><i class="ti-home"></i> 商品管理 <span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
                    <li><a href="{{:url('admin/product/create')}}"> 添加商品</a></li>
                    <li><a href="{{:url('admin/product/listing')}}">商品列表</a></li>
                </ul>
                </li>
                <li {{if condition="in_array($Request.controller,['User'])" }}class="open" {{/if}}>
                <a class="sidebar-sub-toggle"><i class="ti-user"></i> 用户管理 <span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
                    <li><a href="{{:url('admin/user/listing')}}"> 用户列表</a></li>
                </ul>
                </li>
                <li {{if condition="in_array($Request.controller,['Admin'])" }}class="open" {{/if}}>
                <a class="sidebar-sub-toggle"><i class="ti-layout-grid2-alt"></i> 管理员管理 <span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
                    <li><a href="{{:url('admin/Adminuser/listing')}}"> 管理员列表</a></li>
                    <li><a href="{{:url('admin/Adminuser/setpwd')}}"> 修改密码</a></li>
                </ul>
                </li>
                <li {{if condition="in_array($Request.controller,['Status'])" }}class="open" {{/if}}>
                <a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> 订单管理 <span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
                    <li><a href="{{:url('admin/Status/listing')}}"> 订单列表</a></li>
                </ul>
                </li>
                <li {{if condition="in_array($Request.controller,['Counts'])" }}class="open" {{/if}}>
                <a class="sidebar-sub-toggle"><i class="ti-bar-chart-alt"></i> 统计管理 <span
                        class="sidebar-collapse-icon ti-angle-down"></span></a>
                <ul>
                    <li><a href="{{:url('admin/Counts/productcount')}}"> 商品统计</a></li>
                </ul>
                </li>-->